In [3]:
#Ingest The data set.

import pandas as pd

In [14]:
data=pd.read_csv(r"C:\DATA SCIENCE PROJECT FOLDER\FSDSProject\notebooks\data\gemstone.csv.csv")

# Introduction About the Data :
### The dataset The goal is to predict price of given diamond (Regression Analysis).

### here are 10 independent variables (including id):

* id : unique identifier of each diamond
* carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.
* cut : Quality of Diamond Cut
* color : Color of Diamond
* clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.
* depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)
* table : A diamond table is the facet which can be seen when the stone is viewed face up.
* x : Diamond X dimension
* y : Diamond Y dimension
* x : Diamond Z dimension
* Target variable:

* price: Price of the given Diamond.

* Dataset Source Link : https://www.kaggle.com/competitions/playground-series-s3e8/data?select=train.csv

I have solved EDA step by step

In [15]:
data.head(5)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [16]:
data.info

<bound method DataFrame.info of             id  carat        cut color clarity  depth  table     x     y  \
0            0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33
1            1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12
2            2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73
3            3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41
4            4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61
...        ...    ...        ...   ...     ...    ...    ...   ...   ...
193568  193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39
193569  193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77
193570  193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75
193571  193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49
193572  193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71

           z  price
0       4.55  13619
1       5.05  13387
2       3.50   2772
3       2.71    666
4       4.77  14453
...      ...    ...
193568  2.67   1130
193569  3.47   2874
193570  3.62   3036
193571  2.81    681
193572  3.48   2258

[193573 rows x 11 columns]>

In [19]:
data.shape

(193573, 11)

In [25]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [26]:
data=data.drop(labels=["id"],axis=1)

In [27]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [28]:
data.tail()

        carat        cut color clarity  depth  table     x     y     z  price
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

In [29]:
data.sample(5)

        carat      cut color clarity  depth  table     x     y     z  price
160892   1.04    Ideal     H     VS2   62.3   56.0  6.43  6.45  4.01   5824
139214   0.72    Ideal     H    VVS1   62.2   55.0  5.77  5.73  3.58   3246
146930   0.55    Ideal     I     VS2   62.0   54.0  5.24  5.28  3.27   1134
140717   0.95  Premium     H     SI1   62.8   59.0  6.27  6.32  3.95   4463
85684    1.18    Ideal     G     SI1   61.8   56.0  6.82  6.77  4.19   6665

In [30]:
data.duplicated().sum()

0

In [31]:
data.shape

(193573, 10)

In [32]:
# cat and num columns

categorical_columns=data.columns[data.dtypes=="object"]

In [33]:
numerical_columns=data.columns[data.dtypes!="object"]

In [34]:
data[categorical_columns].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272